body {
 background: lightgrey;
 text-align: center;
 /*margin: 0 auto;*/
 margin: 0;
}

.card {
 height: 150px;
 width: 100px;
 margin-top: 50px;
 background: white;
 border: 3px double black;
 margin: 2px;
}

#align{
  width: 100%;
  margin: 0 auto;
  margin-top: 0;
  /*background-color: red;*/
  justify-content: center;
}

#board{
  display: inline-block;
  margin-left: 50px;
  text-align: left;
}

#defenseBoard{
 /*background: green;*/
 height: 170px;
 width: 700px;
 margin-left: 50px;
 margin-top: 50px;
 /*margin-bottom: 0px;*/
 position: absolute;
 border: 1px black;
}

#attackBoard {
 /*background: yellow;*/
 height: 170px;
 width: 700px;
 margin-left: 50px;
 margin-top: 0px;
 margin-bottom: 100px;
 border: 1px black;
}
#compHand {
  margin-top: 50px
}

#playerHand {
  margin: 50px auto;
  margin-bottom: 0px;
}

#trump_pile {
 display: inline-block;
 height: 150px;
 width: 150px;
 text-align: center;  
 margin: 100px 50px;
}
#trumpCard{
 transform: rotate(90deg);
 position: absolute;
 margin: 0;
}
#pile{
 display:inline-block;
 position: absolute;
 margin: 0;
}

#pick-up-btn, #discard-btn, #restart-btn {
  margin: 50px auto;
  margin-bottom: 100px;
  padding: 10px 30px;
  color: blue;
  border-color: blue;
}