body {
 text-align: center;
 margin: 0px;
 background: url(../images/green-leather.jpg);
}

header {
  color: red;
  text-transform: uppercase;
  text-align: center;
 }

 h3{
  vertical-align: middle;
 }
#border{
  margin-bottom: 200px;
  padding-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 10px 10px 6px 28px rgba(0,0,0,0.3);
  border: 0px solid #000000;
  text-align: center;
  background: lightgreen;
}

.card {
 height: 150px;
 width: 100px;
 background: white;
 border: 3px double black;
 margin: 2px;
}
.smallCard{
 height: 90px;
 width: 60px;
}
#board{
  display: inline-block;
  margin: 40px 0px;
  margin-top: 0px;
  text-align: left;
  height: 225px;
}

#defenseBoard{
 height: 170px;
 margin-top: 50px;
 position: absolute;
}
#attackBoard {
 height: 170px;
 margin-top: 0px;
 margin-bottom: 100px;
}
#playerHand {
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}
#compHand{
  margin: 0 auto;
  margin-top: 20px;
}

#trump_pile {
 display: inline-block;
 height: 150px;
 text-align: left;  
 margin-top: 20px;
}

#buttons{
 display: inline-block;
 height: 150px;
 text-align: center; 
}

#trumpCard{
 transform: rotate(90deg);
 position: absolute;
 margin: 0;
}
#pile{
 display:inline-block;
 position: absolute;
 margin-left: 25px;
}

#discard-pick-up-btn, #restart-btn {
  margin: 20px 0px;
  padding: 10px 30px;
  color: blue;
  border: 2px double black;
  font-weight: bold;
  font-size: 16px;
}
#restart-btn{
  color: red;
  background-color: pink;
}
.score, #who-attack{
 display: inline-block; 
 height: 40px;
 text-align: center;
 margin: 0px;
 padding: 5px;
 box-sizing: border-box;
}

#score-container {
  height: 60px;
  width: 100%;
  text-align: center;
  margin: 0px;
  display: inline-flex;
  justify-content: space-around;
  border: 2px black;
  margin-bottom: 20px;
}


#who-attack{
 font-size: 25px;
 font-weight: bold;
 font-family: Georgia;
}

#playerScore, #compScore, #playerHighScore, #compHighScore{
 color: blue;
 font-family: sans-serif;
 font-style: oblique;
 font-family: cursive;
 font-size: 12px;
 font-weight: bold;
}

#playerHighScore, #compHighScore{
 color: purple;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: lightgreen; /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin-top: 50px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

p{
  font-size: 13px;
  color: blue;
 font-family: sans-serif;
 font-style: oblique;
 text-align: left;
}
span, footer{
  color: red;
  font-family: sans-serif;
 font-style: oblique;
 font-family: cursive;
 font-size: 13px;
 font-weight: bold;
}
#myBtn{
  margin: 25px;
  padding: 10px 30px;
  color: red;
  border: 2px double black;
  font-weight: bold;
  font-size: 16px;
  font-style: oblique;
}
